//COLORS

//$color-container: #2f3640; blue
//$color-container: #290628;
$color-primary: #067fd6; 
$color-secondary: #d547d9;  
//$color-infoTiles: #683257; purple
$color-infoTiles: #067fd6; 

$color-fontContainer: #eeeeee; 

//background light #353b48
//background dark #2f3640 #1e272e

