.container {
  font-family: $container-font;
  margin: 3rem auto;
  padding: 0;
  color: $color-fontContainer;
  font-size: $container-fontSize;
}

.info-tiles {
  color: $color-primary;
  font-family: $container-font;
  text-align: left;
  margin-top: 21rem;

  h2 {
    text-transform: uppercase;
    font-size: 7rem;
    letter-spacing: 2.7rem;
    color: $color-primary;
    text-shadow: 0.3rem 0.2rem 0 $color-secondary;
    font-weight: 100;
    font-family: $title-font;
  }

  p {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}

.col {
  height: 100%;
}

.list-group-item {
  background-color: transparent;
  font-size: 1.6rem;
}
