@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "vcr_osd_monoregular";
  src: url("../fonts/vcr_osd_mono_1.001-webfont.woff2") format("woff2"), url("../fonts/vcr_osd_mono_1.001-webfont.woff") format("woff"), url("../fonts/VCR_OSD_MONO_1.001") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cutiveregular";
  src: url("../fonts/cutive-regular-webfont.woff2") format("woff2"), url("../fonts/cutive-regular-webfont.woff") format("woff"), url("../fonts/Cutive-Regular");
  font-weight: normal;
  font-style: normal;
}
.highlight {
  background: black;
  color: white;
}

/* .spotify{
    display: flex;
    justify-content: center;
    font-family: $container-font;

}

.spotify-button{
    background-color: #1DB954;
    border-radius: .75rem;
    border: black solid .2rem;
    font-size: 1.3rem;
    font-weight: bold;

    &:focus,
    &:hover{
        background-color: #1ED760;
        transform: translateY(-.1rem);
        border: black solid .2rem;
        box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.377);
    }  
} */
.search-button {
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 1rem 0rem;
  background: #067fd6;
  font-size: 1.5rem;
  font-weight: bold;
}
.search-button:focus, .search-button:hover {
  background-color: #d547d9;
}
.search-button:active {
  background-color: #f281f6;
  transform: translate(-0.1rem, 0.1rem);
}

.btn-playlist {
  background-color: #f29e4c;
}
.btn-playlist:focus, .btn-playlist:hover {
  background-color: #f2d34c;
}

.zip {
  right: 1rem;
}

#zip-row {
  margin: 2rem 0rem;
}
#zip-row input {
  font-size: 2rem;
}
#zip-row select {
  font-size: 2rem;
}

#playlist-row {
  margin: 2rem 0rem;
}
#playlist-row input {
  font-size: 2rem;
}
#playlist-row select {
  font-size: 2rem;
}

.date-row {
  margin: 1rem 0rem;
  font-size: 1.5rem;
}
.date-row input {
  font-size: 2rem;
}

.search-row {
  margin-top: 4rem;
}

.search-form {
  color: #067fd6;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
}
.search-form label {
  text-transform: uppercase;
}

input {
  background: transparent;
  color: #067fd6;
  border: 2px solid #067fd6;
}

option {
  background: #067fd6;
  color: #292523;
  text-align: center;
}

::placeholder {
  color: #067fd6;
  opacity: 1;
  font-size: 1.5rem;
}

select {
  background: transparent;
  border: 2px solid #067fd6;
  color: #067fd6;
}

.transparent {
  position: absolute;
  height: 100%;
  width: 65%;
  left: 17.5%;
  background-color: #000000ab;
}

.search-result {
  margin-top: 10rem;
}
.search-result h2 {
  text-transform: uppercase;
  font-size: 7rem;
  letter-spacing: 2rem;
  color: #067fd6;
  text-shadow: 0.3rem 0.2rem 0 #d547d9;
  font-weight: 100;
  font-family: "vcr_osd_monoregular";
  z-index: 1;
  margin-bottom: 3rem;
}
.search-result li {
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.playlist {
  padding-top: 1rem;
}

.text-adjust {
  letter-spacing: 1.7rem;
}

.track-left {
  color: #067fd6;
  max-width: 50%;
}

.track-right {
  color: #d547d9;
  max-width: 50%;
  text-align: right;
}

#page-containerPrimary {
  position: relative;
  min-height: 100vh;
  background-image: url("../img/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #AA076B;
}

#page-containerSecondary {
  position: relative;
  min-height: 100vh;
  background-image: url("../img/search.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #AA076B;
}

#content-wrap {
  padding-bottom: 6rem;
}

.container {
  font-family: "vcr_osd_monoregular";
  margin: 3rem auto;
  padding: 0;
  color: #eeeeee;
  font-size: 1.5rem;
}

.info-tiles {
  color: #067fd6;
  font-family: "vcr_osd_monoregular";
  text-align: left;
  margin-top: 21rem;
}
.info-tiles h2 {
  text-transform: uppercase;
  font-size: 7rem;
  letter-spacing: 2.7rem;
  color: #067fd6;
  text-shadow: 0.3rem 0.2rem 0 #d547d9;
  font-weight: 100;
  font-family: "vcr_osd_monoregular";
}
.info-tiles p {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.col {
  height: 100%;
}

.list-group-item {
  background-color: transparent;
  font-size: 1.6rem;
}

.header {
  font-family: "vcr_osd_monoregular";
  position: relative;
  height: 4rem;
  color: #067fd6;
  text-transform: uppercase;
  padding: 2.3rem;
  text-align: center;
}
.header h1 {
  font-size: 4.4rem;
  letter-spacing: 0.4rem;
  text-shadow: 0.2rem 0.2rem 0 #d547d9;
  margin: 0rem 4rem;
}
.header p {
  font-size: 1.8rem;
  margin-top: 0.8rem;
  letter-spacing: 0.4rem;
}
.header a {
  font-size: 1.8rem;
  margin-top: 0.8rem;
  letter-spacing: 0.4rem;
}
.header a:focus, .header a:hover {
  color: #d547d9;
  text-decoration: none;
}

.header__container {
  height: auto;
}

.header-secondary {
  background-color: #292523cc;
  font-family: "vcr_osd_monoregular";
  position: relative;
  height: 7rem;
  color: white;
  padding: 2rem;
  padding-left: 8rem;
  text-align: left;
}
.header-secondary h1 {
  font-size: 6rem;
  padding-top: 0.25rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
}

/*# sourceMappingURL=index.css.map */
