
.search-button{
    border-radius: .5rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    padding: 1rem 0rem;
    background: $color-primary;
    font-size: 1.5rem;
    font-weight: bold;

    &:focus,
    &:hover{
        background-color: $color-secondary;
        
    } 

    &:active {
        background-color: #f281f6;
        transform: translate(-.1rem, .1rem);
    }

   
}

.btn-playlist {
    background-color: #f29e4c;
    &:focus,
    &:hover{
        background-color: #f2d34c;
    }
}