.Search {
  display: flex;
  align-items: center;

  min-height: 100vh;
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  gap: 356px;
}

.header {
  margin-top: 2rem;
  color: var(--primary-color);
  font-family: "VCR_FONT";

  text-transform: uppercase;
  letter-spacing: 0.4rem;

  display: flex;
}

.login {
  display: flex;
  font-size: 1rem;
}

header {
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 0.14rem 0.14rem 0 var(--secondary-color);
}
