.ui.button {
  background-color: green;
}

/* .fields {
  flex-direction: column;
} */

.ui.form .fields {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.field {
  max-width: 200px;
}

/* .react-datepicker-wrapper {
  width: fit-content;
} */
